<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "New cocktail", class: "btn btn-dark" %>
  <% end %>

  <%= link_to "Back", cocktails_path %>
</div>
