<%= link_to cocktails_path do %>
  <%= image_tag "Back.png", width: 50%>
<% end %>
<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "New cocktail", class: "btn btn-dark" %>
  <% end %>
</div>
