<%= link_to cocktail_path(@cocktail) do %>
  <%= image_tag "Back.png", width: 50%>
<% end %>
<div class="container">

  <h1>Add a dose to <%= @cocktail.name %></h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add dose", class: "btn btn-dark" %>
  <% end %>

</div>
